<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>DASHBOARD</title>
    <script src="https://kit.fontawesome.com/965112f277.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav><i class="fa-solid fa-bomb"></i><i class="fa-solid fa-bomb"></i><i class="fa-solid fa-bomb"></i></nav>
    <div class="album-container">
        <div class="album"></div>
        <div class="album"></div>

        <div class="album"></div>
        <div class="album"></div>

        <div class="album"></div>
        <div class="album"></div>

        <div class="album"></div>
    </div>

    <div class="sidebar-container">
        sidebar-container
    </div>
</body>

</html>